<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.CartMapper">

 <!-- 상품목록 -->
 <select id="goodsList" parameterType="string" resultType="GoodsDTO">
 select gCode,
        gCategory,
        gName,
        gContent,
        gPrice,
        gImage
  from goods
  where gCategory = #{gCategory}
 </select>
 
 <!-- 상품자세히보기 -->
 <select id="goodsRetrieve" parameterType="string" resultType="GoodsDTO">
 select gCode,
        gCategory,
        gName,
        gContent,
        gPrice,
        gImage
  from goods
  where gCode = #{gCode}
 </select>
 
 <!-- 상품저장 -->
 <insert id="cartAdd" parameterType="CartDTO">
insert into cart (gCode, userid,gAmount)
values (#{gCode}, #{userid},#{gAmount} )
</insert>
 
 <!-- 조인 -->
 <resultMap type="CartDTO" id="yyy">
<id property="num" column="num"/>
<result property="userid" column="userid"/>
<result property="gCode" column="gCode"/>
<result property="gAmount" column="gAmount"/>
<result property="gCartDate" column="gCartDate"/>
<!-- 1:N -->
<collection property="goodsList" ofType="com.exam.dto.GoodsDTO">
<id property="gCode" column="gCode"/>
<result property="gCategory" column="gCategory"/>
<result property="gName" column="gName"/>
<result property="gContent" column="gContent"/>
<result property="gPrice" column="gPrice"/>
<result property="gImage" column="gImage"/>
</collection>
</resultMap>
 
<select id="cartList" parameterType="string" resultMap="yyy">
select *
from cart join goods on cart.gCode = goods.gCode
where userid=#{userid}
</select>

 <!-- 상품삭제 -->
 <delete id="deleteCart" parameterType="int">
delete from cart 
  where num = #{num}
</delete>

 <!-- 상품전체삭제 -->
<delete id="Alldelete" >
        DELETE FROM cart
    </delete>
    
      <!-- 구매버튼 시 장바구니 이동 -->
 <insert id="cartBuy" parameterType="CartDTO">
insert into cart (gCode, userid,gAmount)
values (#{gCode}, #{userid},#{gAmount} )
</insert>

<!-- 구매버튼 시 선택한 상품 정보 가져오기 -->
<select id="getCartItemByNum" resultType="CartDTO" parameterType="int">
        SELECT * FROM cart WHERE num = #{num}
    </select>
    
    <!--구매버튼 시 선택한 상품 카트 삭제  -->
     <delete id="deleteCartItemByNum" parameterType="int">
        DELETE FROM cart WHERE num = #{num}
    </delete>



 
 
</mapper>